.Container{
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.8);
    backdrop-filter: saturate(180%) blur(1px);
}
.ModalContainer{
    opacity: 1;
    width: 80%;
    background-color: aqua;
}