.TabContainer{
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.TabBarContainer {
  display: flex;
  flex-direction: row;
  height: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.TabButtonContainer{
  width: 150px;
  font-size: 11pt;
  height: 2rem;
  border: 0px;
  color: dodgerblue;
  border-bottom: 1px;
  border-color: black;
  border-style: solid;
}
.TabButtonContainerActive{
  border: 1px solid black;
  border-bottom: 0;
  border-width: 1px;
  color: black;
  background-color: white;
  font-size: 11pt;
  width: 150px;
  outline: 0;
}
.TabContentContainer{
  display: flex;
  flex: 1;
}
.TabButton{
  border: none;
  background-color: transparent;
  width: 150px;
  font-size: 11pt;
  outline: 0;
  height: 2rem;
  line-height: 2rem;
  color: inherit;
}
.TabContent{
  display: flex;
  flex: 1;
  width: 100%;
}
.UnderlineActive {
  background-color: dodgerblue;
  height: 1px;
  width: 150px;
}
.UnderlineRest{
  height: 2rem;
  flex : 1;
  justify-content: flex-start;
  vertical-align: bottom;
  border: 0px;
  border-bottom: 1px;
  border-color: black;
  border-style: solid;
}